@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-box {
  height: 250px;
}

/* header.px-6 {
  padding-left: 0;
  padding-right: 0;
} */
